.nav-yellow{
    background-color: #f9f100;
}

.body-container{
    margin-top: 5%;
}

.btn-info{
    padding: 12px;
    margin: 10px;
}

.form-content{
    margin: 10px;
}

.just{
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
}
